﻿<!-- ==========================================================================
        HTML HEAD component to manage TDC functions import
   ========================================================================== -->

<script type="text/javascript">
    //<![CDATA[
        if (typeof loadJsLibrary === 'undefined') {
            var script = document.createElement('script');
            script.src = 'TDCLoadJsLibraryFunction.js'; // Location of the LoadJsLibrary script
            document.write(script.outerHTML);
        }
    //]]>
</script>

<!-- ==========================================================================
        Javascript components for JQuery
 ========================================================================== -->
<!--<script type="text/javascript">if (typeof jQuery === 'undefined') loadJsLibrary('//tdcws01.tandridge.gov.uk/PublicFiles/JQueryVersions/Versions1.x/jquery-1.12.4.js', null);</script>-->
<script type="text/javascript">if (typeof jQuery === 'undefined') loadJsLibrary('//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js', null);</script>

<!-- ==========================================================================
        Javascript components for TDC postcode search
        This assumes JQuery has been loaded up
 ========================================================================== -->

<link rel="stylesheet" type="text/css" href="TDCAddrSearchItems.css" media="all" />
<script src="TDCPostcodeAddrSearch.js" type="text/javascript"></script>

<!-- ==========================================================================
          End of HTML Import component to manage JQuery, JQuery.UI and TDC functions import
   ========================================================================== -->
