﻿
<!-- ==========================================================================
        HTML Import component to manage JQuery, JQuery.UI and TDC functions import
        Embed this into the Head tags
                    <link rel="import" href="/path/to/TDCImportHTMLForJQandPostcode.html">    
   ========================================================================== -->

<!-- ==========================================================================
          Javascript components for identfying a function is loaded
   ========================================================================== -->

<script type="text/javascript">
              //<![CDATA[

      function loadJsLibrary(url, success) {
          var script = document.createElement('script');
          script.src = url;

          if (!(typeof success === "undefined")) {
              document.write(script.outerHTML);
          } else {

              var head = document.getElementsByTagName('head')[0], done = false;
              head.appendChild(script);
              // Attach handlers for all browsers

              script.onload = script.onreadystatechange = function () {
              if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) {
                  done = true;
                  success();
                  script.onload = script.onreadystatechange = null;
                  head.removeChild(script);
          };
          }
          }
              /*if (typeof jQuery === 'undefined') {
                  loadJsLibrary('//tdcws01.tandridge.gov.uk/PublicFiles/JQueryVersions/Versions1.x/jquery-1.12.4.js', null);*/

              /*  loadJsLibrary('http://code.jquery.com/jquery-1.10.2.min.js', function () {
                  // Write your jQuery Code
              });
          } else {
              // jQuery was already loaded
              // Write your jQuery Code */
          }

              //]]>
</script>

<script type="text/javascript">
    //<![CDATA[
        if (typeof loadJsLibrary === 'undefined') {
            var script = document.createElement('script');
            script.src = 'SetupLoadJsLibraryFunction.js'; // Location of the >LoadJsLibrary script
            document.write(script.outerHTML);
        }
    //]]>
</script>

<!-- ==========================================================================
        Javascript components for JQuery
 ========================================================================== -->

<!--<script type="text/javascript">if (typeof jQuery === 'undefined') loadJsLibrary('//tdcws01.tandridge.gov.uk/PublicFiles/JQueryVersions/Versions1.x/jquery-1.12.4.js', null);</script>-->
<script type="text/javascript">if (typeof jQuery === 'undefined') loadJsLibrary('//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js', null);</script>

<!-- ==========================================================================
        Javascript components for JQuery UI. See http://jqueryui.com/
 ========================================================================== -->

<link rel="stylesheet" href="//tdcws01.tandridge.gov.uk/PublicFiles/JQueryUIVersions/jquery-ui-themes-1.12.0/themes/smoothness/jquery-ui.css" />
<script type="text/javascript">if (typeof jQuery.ui === 'undefined') loadJsLibrary('ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js', null);</script>

<!-- ==========================================================================
          End of HTML Import component to manage JQuery, JQuery.UI import
   ========================================================================== -->
