﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="BaseWebForm.aspx.cs" Inherits="FormAssemblySupport.BaseWebForm" %>
<!DOCTYPE html>
<html>
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
