﻿	.container_12 .grid_9,
.container_16 .grid_12 {
    max-width: inherit;
    width: inherit;
}

#TDCInfo .maincontent {
    overflow: auto;
}

#TDCInfo .wFormContainer {
    max-width: none !important;
    white-space: initial !important;
}

#TDCInfo .label {
	white-space: normal !important;
	width: initial !important;
}

#TDCInfo kalendae .k-days span.k-active {
    cursor: pointer;
    box-sizing: content-box !important;
    webkit-box-sizing: content-box !important;
}

#TDCInfo .wFormContainer .supportInfo {
    display: none;
}
