<%@ Import Namespace='System' %>
<%@ Import Namespace='System.IO' %>
<%@ Import Namespace='System.Net' %>
<%@ Import Namespace='System.Text' %>
<!DOCTYPE html>
<html>
<head>
	<title>Tandridge District Council Base Form Assembly page</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- see http://msdn.microsoft.com/en-us/library/ff955275%28v=vs.85%29.aspx -->
	<!-- VERY IMPORTANT for IE mode -->
	<!-- http://www.metatags.info/all_meta_tags -->
	<meta name="KEYWORDS" content="Tandridge District Council Content branding page services" />
	<meta name="description" content="Tandridge District Council content in a branding page." />
	<meta name="revisit-after" content="5 days" />
	<meta name="distribution" content="GLOBAL" />
	<meta name="author" content="Rob Collins ICT" />
	<meta name="copyright" content="Tandridge District Council 2015" />
	<meta name="googlebot" content="noodp" />
	<meta name="language" content="english" />
	<meta name="reply-to" content="CustomerService@Tandridge.gov.uk" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1 " />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Expires" content="-1" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta name="ROBOTS" content="index, nofollow" />
	<meta name="rating" content="General" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
	</script>

	<script type="text/javascript">
		var g_sFormName = "SomeFormName v1";
		var g_thisDate = new Date();
		var sDate = g_thisDate.toDateString;
		var g_sTypeService = "";
		if (/(dev|localhost)/i.test(location.pathname)) g_sTypeService = "Test"; //"Dev";
		if (g_sTypeService == "" && /test/i.test(location.pathname)) g_sTypeService = "Test";
	//if (g_sTypeService == "" ) g_sTypeService = "Live";

	</script>


	<script type="text/javascript">
		//<![CDATA[
		var sURLBrandingLoc = "//tdcws01.tandridge.gov.uk/TDCWebAppsPublic/BrandingSplit2015" + g_sTypeService + "/";
		var sAlternativeRoot = sURLBrandingLoc + "StaticBranding/";
		var xmlCORSHttp; // See http://www.html5rocks.com/en/tutorials/cors/#toc-adding-cors-support-to-the-server

		function fnExtractFromURL(sURLLocation, sAlternative, TagIDToInsertBefore, HeaderTagNameToInsertBefore) {
			var xmlHttp;
			var theURL = "";
			var sHTTPResponse = "";
			var sProtocol;
			var sResponseText = "";
			var sReturn;
			var oBeforeElement;
			var bUsedAlternative = false;

			if (typeof TagIDToInsertBefore === "undefined" || TagIDToInsertBefore == "") {
				if (typeof HeaderTagNameToInsertBefore === "undefined" || HeaderTagNameToInsertBefore == "") {

				} else {
					try { oBeforeElement = document.getElementsByName(HeaderTagNameToInsertBefore)[0]; } catch (e) { };
				}
			} else {
				try { oBeforeElement = document.getElementById(TagIDToInsertBefore); } catch (e) { };
			};

			sProtocol = document.location.protocol;
			theURL = sURLLocation;
			do {

				if (sProtocol != "http:" && sProtocol != "https:") {
					try { sProtocol = (("http:" == document.location.protocol) ? "http:" : "https:"); } catch (e) { sProtocol = "https:"; }
					theURL = sProtocol + theURL;
				}

				/* running locally on IE5.5, IE6, IE7 */
				if (location.protocol == "file:") {
					if (typeof xmlHttp === "undefined") try { xmlHttp = new ActiveXObject("MSXML2.XMLHTTP"); } catch (e) { }
					if (typeof xmlHttp === "undefined") try { xmlHttp = new ActiveXObject("Microsoft.XMLHTTP"); } catch (e) { }
				};
				if (typeof xmlHttp === "undefined" && !(typeof XMLHttpRequest === "undefined")) try { xmlHttp = new XMLHttpRequest(); } catch (e) { }
				/* IE7, Firefox, Safari, Opera...  */
				if (typeof xmlHttp === "undefined" && !(typeof XMLHttpRequest2 === "undefined")) try { xmlHttp = new XMLHttpRequest2(); } catch (e) { }
				/* IE6 */
				if (typeof xmlHttp === "undefined" && !(typeof ActiveXObject === "undefined")) try { xmlHttp = new ActiveXObject("Microsoft.XMLHTTP"); } catch (e) { }

				try {
					//if (!(typeof XDomainRequest === "undefined")) try { xmlCORSHttp = new XDomainRequest(); } catch (e) { }
					try {
						if (!(typeof XDomainRequest === "undefined")) {
							xmlCORSHttp = new XDomainRequest();
							try {
								if (!(typeof xmlCORSHttp === "undefined")) {

									if (typeof oBeforeElement === undefined) {
										xmlCORSHttp.open("GET", theURL);
										xmlCORSHttp.send(null);
										if (xmlCORSHttp.status == 200) {
											sResponseText = xmlCORSHttp.responseText;
											sReturn = sResponseText;
										}
										document.write(sReturn);

									} else {

										xmlCORSHttp.open("GET", theURL, true);
										xmlCORSHttp.onload = function () {
											if (xmlCORSHttp.status == 200) {
												sResponseText = xmlCORSHttp.responseText;
												fnInsertResponseBeforeTag(sResponseText, oBeforeElement);
											}
										}
										xmlCORSHttp.send(null);
									}
								}
							} catch (e) { };
						}
					} catch (e) { };

					if (typeof sResponseText === "undefined" || sResponseText == "") {
						sReturn = "";
						if (!(typeof xmlHttp === "undefined")) {
							if (typeof oBeforeElement === "undefined") {
								xmlHttp.open("GET", theURL, false);
								xmlHttp.send(null);
								if (xmlHttp.status == 200 || xmlHttp.status == 0) {
									sResponseText = xmlHttp.responseText;
									sReturn = sResponseText;
									document.write(sReturn);
								}
							} else {
								xmlHttp.open("GET", theURL, true);
								xmlHttp.onload = function () {
									if (xmlHttp.status == 200 || xmlHttp.status == 0) {
										sResponseText = xmlHttp.responseText;
										fnInsertResponseBeforeTag(sResponseText, oBeforeElement);
									}
								}
								xmlHttp.ontimeout = function () {
									if (!(typeof sAlternative === "undefined" || sAlternative == "")) fnExtractFromURL(sAlternative, "", TagIDToInsertBefore, HeaderTagNameToInsertBefore);
								}
								xmlHttp.onerror = function () {
									if (!(typeof sAlternative === "undefined" || sAlternative == "")) fnExtractFromURL(sAlternative, "", TagIDToInsertBefore, HeaderTagNameToInsertBefore);
								}
								xmlHttp.send(null);
							}
						}
					}
				} catch (err) {
					txt = "There was an error " + (err.number & 0xFFFF) + " " + err.name + " on this page.\n\n";
					txt += "Error message: " + err.message + "\n\n";
					if (err.description != undefined) { txt += "Error description: " + err.description + "\n\n"; }
					sReturn = "<!--" + txt + "-->";
				} finally {
					if (sReturn === "undefined") sReturn = '';
					if (sReturn.search(/Tandridge District Council Error response/i) > 0) sReturn = '';
					if (document.location.protocol == "http:") {
						sReturn = sReturn.replace(/https:/ig, "http:");
					} else if (document.location.protocol == "https:") {
						sReturn = sReturn.replace(/http:/ig, "https:");
					} else {
						sReturn = sReturn.replace(/"\/\//ig, '"http://').replace(/'\/\//ig, "'http://").replace(/="www./ig, '="http://www.').replace(/='www./ig, "='http://www.")
					};
				}
				if (bUsedAlternative) {
					theURL = "";
				} else {
					if ((typeof sResponseText === "undefined" || sResponseText == "")) {
						theURL = sAlternative;
						bUsedAlternative = true;
						sReturn = "";
					}
				}
			}
			while (theURL != "" && (typeof sResponseText === "undefined" || sResponseText == "") && (typeof TagIDToInsertBefore === "undefined" || TagIDToInsertBefore == ""))

			return sReturn;
		}


		function fnInsertResponseBeforeTag(HTMLToInsert, oBeforeElement) {
			var sParentHTML = "";
			var oParentNode = oBeforeElement.parentNode;

			try {
				if (typeof oBeforeElement === "undefined") {
					document.write(HTMLToInsert);
				} else {
					if (typeof oParentNode === "undefined" || oParentNode == null) {
						try { oParentNode = document.body; } catch (e) { oParentNode = void 0; };
					}

					if (typeof oParentNode === "undefined" || oParentNode == null) {
						oBeforeElement.insertAdjacentHTML("beforebegin", HTMLToInsert);
					} else {
						sParentHTML = oParentNode.innerHTML;
						sParentHTML = sParentHTML.substring(0, sParentHTML.indexOf(oBeforeElement.outerHTML)) + HTMLToInsert + sParentHTML.substring(sParentHTML.indexOf(oBeforeElement.outerHTML));

						oParentNode.innerHTML = sParentHTML;
					}
					// This is needed as sometimes the entire HTML DOM is regenerated on HTML changes and triggers need to be reattached
					if (!(typeof fnSetJQuerytriggers === "undefined")) fnSetJQuerytriggers();
				}


			} catch (err) {
				txt = "There was an error " + (err.number & 0xFFFF) + " " + err.name + " on this page.\n\n";
				txt += "Error message: " + err.message + "\n\n";
				if (err.description != undefined) { txt += "Error description: " + err.description + "\n\n"; }
				sReturn = "<!--" + txt + "-->";
			};
		}
		//]]>
	</script>

	<script type="text/javascript">
		//<![CDATA[
		document.write(fnExtractFromURL(sURLBrandingLoc + "Branding1HeadTagPartSansScripts.aspx", sAlternativeRoot + "Branding1HeadTagPartSansScripts.htm"));
		//]]>
	</script>

	<asp:Literal ID="FormHeadParts" runat="server"></asp:Literal>

</head>
<script language='C#' runat='server'>
    void Page_Load(Object Src, EventArgs E)
    {
        WebRequest request;
        if (Request.QueryString["tfa_next"] == null)
        {
            request = WebRequest.Create("https://tandridge.tfaforms.net/rest/forms/view/20");
        }
        else
        {
            request = WebRequest.Create("https://tandridge.tfaforms.net/rest/forms/view/20" + Request.QueryString["tfa_next"]);
        }
        WebResponse response = request.GetResponse();
        Stream dataStream = response.GetResponseStream();
        StreamReader reader = new StreamReader(dataStream, Encoding.UTF8);

        String sTemp = reader.ReadToEnd();
        Int32 iPos;
        iPos = sTemp.IndexOf("<!-- FORM: BODY SECTION -->");
        String sHeadPart, sBodyPart;
        if (iPos >= 0) {
            sHeadPart = sTemp.Substring(0, iPos-1); 
            sBodyPart = sTemp.Substring(iPos);
        } else {
            sHeadPart = ""; 
            sBodyPart = sTemp;
        };
        FormHeadParts.Text = sHeadPart;
        FAForm.InnerHtml = sBodyPart;

        reader.Close();
        response.Close();
    }
</script>
<div id="AfterBranding2Body"></div>
<script type="text/javascript">
	//<![CDATA[
	fnExtractFromURL(sURLBrandingLoc + "Branding2BodyTagStartSansScripts.aspx", sAlternativeRoot + "Branding2BodyTagStartSansScripts.htm", "");
		//]]>
</script>
<div id="AfterBranding3PreMenu"></div>
<script type="text/javascript">
	//<![CDATA[
	fnExtractFromURL(sURLBrandingLoc + "Branding3_AllBodyPreMenuSansScripts.aspx", sAlternativeRoot + "Branding3_AllBodyPreMenuSansScripts.htm", "");
		//]]>
</script>
<div id="AfterBranding4BodyLHMenu"></div>
<script type="text/javascript">
	//<![CDATA[
	fnExtractFromURL(sURLBrandingLoc + "Branding4BodyLHMenuPart.aspx", sAlternativeRoot + "Branding4BodyLHMenuPart.htm", "AfterBranding4BodyLHMenu");
		//]]>
</script>


<!-- ==========================================================================-->
<!-- Here is where a designer would place the body of their content -->
<!-- ==========================================================================-->

<span id='FAForm' runat='server' />

<!-- ==========================================================================-->
<!-- End of body content -->
<!-- ==========================================================================-->


<div id="AfterBranding5"></div>
<!--<script type="text/javascript">
		//<![CDATA[
		fnExtractFromURL(sURLBrandingLoc + "Branding5FootPartSansScripts.aspx",sAlternativeRoot + "Branding5FootPartSansScripts.htm", "", "");
		//]]>
	</script> -->

</body>
</html>
