﻿
<script type="text/javascript">
        //<![CDATA[
        if (typeof loadJsLibrary === 'undefined') {
            var script = document.createElement('script');
            script.src = '//tdcws01.tandridge.gov.uk/TDCWebAppsPublic/PublicFiles/TDCJsModules/PlanningRecord/TDCLoadJsLibraryFunction.js'; // Location of the >LoadJsLibrary script
            document.write(script.outerHTML);
        }
        //]]>
</script>

<!-- ==========================================================================
        Javascript components for JQuery
 ========================================================================== -->
<!--<script type="text/javascript">if (typeof jQuery === 'undefined') loadJsLibrary('//tdcws01.tandridge.gov.uk/PublicFiles/JQueryVersions/Versions1.x/jquery-1.12.4.js', null);</script>-->
<script type="text/javascript">if (typeof jQuery === 'undefined') loadJsLibrary('//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js', null);</script>

<!-- ==========================================================================
        Javascript components for JQuery UI. See http://jqueryui.com/
 ========================================================================== -->

<link rel="stylesheet" href="//tdcws01.tandridge.gov.uk/PublicFiles/JQueryUIVersions/jquery-ui-themes-1.12.0/themes/smoothness/jquery-ui.css" />
<script type="text/javascript">if (typeof jQuery.ui === 'undefined') loadJsLibrary('ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js', null);</script>

<!-- ==========================================================================
        Javascript components for TDC Planning Refs
        This assumes JQuery has been loaded up
 ========================================================================== -->

<link rel="stylesheet" type="text/css" href="//tdcws01.tandridge.gov.uk/TDCWebAppsPublic/PublicFiles/TDCJsModules/PlanningRecord/TDCPlanningRefsCheck.css" media="all" />
<script src="//tdcws01.tandridge.gov.uk/TDCWebAppsPublic/PublicFiles/TDCJsModules/PlanningRecord/TDCPlanningRefsCheck.js" type="text/javascript"></script>
