﻿div.TDCFieldBlock { clear: both; display:block; padding-bottom:16px; padding-left:10px; vertical-align: central; }
div.TDCFieldInfo { color: #333333; display: inline-block; font-size: smaller; padding-left:10px; }
div.TDCMessage { color: DarkRed; padding: 10px 10px 10px 10px; display: inline; }

