﻿
div.TDCPopoutLargePanel { position: fixed; top: 50%; left: 50%; margin-left: -40%; margin-top: -20%; max-width: 80%; max-height: 70%; z-index: 2; background-color: wheat; border: 3px outset navy; padding: 8px 8px 8px 8px; border-radius: 8px; text-align: left; overflow: auto; }
div.TDCPopoutSmallPanel { position: fixed; top: 40%; left: 50%; margin-left: -15%; margin-top: -10%; max-width: 30%; max-height: 50%; z-index: 2; background-color: wheat; border: 3px outset navy; padding: 8px 8px 8px 8px; border-radius: 8px; text-align: center; overflow: visible; }
div[class^="TDCFormBlock"] {padding-bottom: 10px; }
div.TDCFieldBlock { clear: both; display:block; padding-bottom:16px;vertical-align: central; }
div.TDCFieldInfo { color: #333333; display: inline-block; }
.TDCRounded {margin: 4px 4px 4px 4px; padding: 4px 4px 4px 4px; border-radius: 6px; text-align: center; background-color:grey; color:white; }

