﻿<head><title>Tandridge District Council forms submission</title><style>body {font-family: Calibri, Helvetica, sans-serif; font-weight: normal; vertical-align: top;  }  .Label {padding: 3px; border-style: solid; border-width: thin; border-color: #C0C0C0; font-size: smaller; width: 200px; overflow: hidden; display: inline-block;} .Data {padding: 3px; border-style: solid; border-width: thin; border-color: #C0C0C0; font-size: medium; text-align: justify; vertical-align: top; white-space: normal; width: 400px; height: 20px; overflow: hidden; display: inline-block;} </style></head><body><div id="TDCInfo"><h3>TDC Internal notification of client subbmission with submission ref [[ReferenceIn]]</h3>

Add Details to match submission including Form Assembly link if wanted

		
Form filled by &nbsp;&nbsp;[[CompletedBy]]

[[SelectedMainContact]] as main contact email address&nbsp;&nbsp;[[EMailTo]]
	
there are {{SubmissionFileCount}} files uploaded

[[if ({{SubmissionFileCount}}=0)]]No files were attached to this submission[[end]][[if ({{SubmissionFileCount}}>0)]]{{HTMLStoredFiles}}[[endif]]
</body>
