﻿<!-- ==========================================================================
        HTML HEAD component to manage TDC functions import
   ========================================================================== -->

<script type="text/javascript">
    //<![CDATA[
        if (typeof g_sLocalHost === "undefined") var g_sLocalHost = "//" + location.host;
        if (typeof g_sLocalPath === "undefined") var g_sLocalPath = g_sLocalHost + (location.pathname.substr(-1, 1) == "/") ? location.pathname.substring(0, location.pathname.lastIndexOf("/") + 1) : location.pathname;
        if (typeof g_sTargetHost === "undefined") var g_sTargetHost = g_sLocalHost;
        if (typeof g_sTestTargetHost === "undefined") {
            var g_sTestTargetHost = g_sTargetHost.toLowerCase();
            if (g_sTestTargetHost.indexOf("localhost") >= 0 || g_sTestTargetHost.indexOf("tfaforms") >= 0 || g_sTestTargetHost.indexOf("dev01") >= 0 || g_sTestTargetHost.indexOf("netint02") >= 0) g_sTargetHost = "//TDCWebApps.tandridge.gov.uk";
        }
        if (typeof g_sPublicHostPath === "undefined") var g_sPublicHostPath = g_sTargetHost + (location.hostname.toUpperCase().indexOf("TDCWS01") >= 0 ? "/TDCWebAppsPublic/" : "/");
		if (typeof g_sPublicScriptPartsPath === "undefined") var g_sPublicScriptPartsPath = "";
		g_sPublicScriptPartsPath = g_sPublicHostPath + 'PublicFiles/TDCJsModules/LLPGAddressSearch/';
		
		if (typeof loadJsLibrary === 'undefined') {
            var script = document.createElement('script');
			var sScriptURL = g_sPublicScriptPartsPath + 'TDCLoadJsLibraryFunction.js';
            script.src = sScriptURL; // Location of the LoadJsLibrary script
            document.write(script.outerHTML);
        }
    //]]>
</script>


<!-- ==========================================================================
        Javascript components for JQuery
 ========================================================================== -->
<!--<script type="text/javascript">if (typeof jQuery === 'undefined') loadJsLibrary(g_sPublicHostPath + '/PublicFiles/JQueryVersions/Versions1.x/jquery-1.12.4.js', null);</script>-->
<script type="text/javascript">
	if (typeof loadJsLibrary === 'undefined')  {
            var script = document.createElement('script');
            script.src = '//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js';
            document.write(script.outerHTML);
	}	
</script>
<script type="text/javascript">
	if (typeof loadJsLibrary === 'undefined' && !(typeof jQuery === 'undefined'))  {
		var sScriptURL = g_sPublicScriptPartsPath + 'TDCLoadJsLibraryFunction.js';
		$.getScript( sScriptURL)
			.fail(function () {
				$.ajax({
					url: sScriptURL,
					crossDomain: true
				});
			});
	}
</script>
<script type="text/javascript">if (typeof jQuery === 'undefined' && !(typeof loadJsLibrary === "undefined") ) loadJsLibrary('//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js', null);</script>

<!-- ==========================================================================
        Javascript components for JQuery UI. See http://jqueryui.com/
 ========================================================================== -->

<link rel="stylesheet" href="//tdcws01.tandridge.gov.uk/PublicFiles/JQueryUIVersions/jquery-ui-themes-1.12.0/themes/smoothness/jquery-ui.css" />
<script type="text/javascript">if (typeof jQuery.ui === 'undefined') loadJsLibrary(g_sPublicHostPath + 'PublicFiles/JQueryUIVersions/jquery-ui-1.12.0/jquery-ui.min.js', null);</script>

<!-- ==========================================================================
        Javascript components for TDC postcode search
        This assumes JQuery has been loaded up
 ========================================================================== -->

<link rel="stylesheet" type="text/css" href="//TDCWebApps.tandridge.gov.uk/PublicFiles/TDCJsModules/LLPGAddressSearch/TDCAddrSearchItems.css" media="all" />
<!--<script src="TDCPostcodeAddrSearch.js" type="text/javascript"></script>-->
<script type="text/javascript">if (typeof fnPrepTDCJQueryFunctionsLLPGSearch === 'undefined') loadJsLibrary(g_sPublicScriptPartsPath + 'TDCPostcodeAddrSearch.js', null);</script>

<!-- ==========================================================================
          End of HTML Import component to manage JQuery, JQuery.UI and TDC functions import
   ========================================================================== -->
